.kontakt--direktContainer {
    
    &--heading {
        text-decoration: underline;
        width: fit-content;
    }
    
    &--container {
        // width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        text-align: right;
    }
}

.kontakt--direktContainer--container {
    &--numberContainer {
        grid-column: 1 / 2;
    }

    &--text {
        grid-column: 2 / 3;
        text-align: right;
    }
}

@import "./contactNumber";

@include for-phone {
    .kontakt--direktContainer {
        &--container {
            display: block;
            text-align: left;
            margin-bottom: 1rem;
        }
    }
    .kontakt--direktContainer--container{
        &--text {
            margin-top: .5rem;
            text-align: left;
        }
    }
}