.projects {
    height: 100vh;
    padding-right: unset; //To let projects flow to max width

    &--heading {
        font-size: $Fs-h1;
        font-weight: 500;
    }

    &--gradient {
        position: absolute;
        right: 0;
        width: $Sites-PaddingInline;
        // background-image: linear-gradient(to left, rgba(#404040, 1), rgba(#404040, 0));
    }

    &--projectContainer {
        margin-left: 10vw;
        margin-top: 10vh;
        @include flexIt($justCont: flex-start);
        gap: 2rem;
        overflow-x: scroll;
        overscroll-behavior-inline: contain;
        padding-right: $Sites-PaddingInline; //For the gradient
    }
}

@import "./projectItem";