.datenschutz {
    @include flexIt($dir: column, $alignIt: flex-start, $justCont: flex-start);
    background-color: var(--background);
    // filter: ;

    &--heading {
        margin-block: 2rem;
    }

    &--lanDisclaimer {
        margin-bottom: 2rem;
        font-style: italic;
    }
}