* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    font-family: soleil, sans-serif;
    font-weight: 400; //regular
    font-style: normal;
    font-size: 16px;
    color: var(--foreground);
    background-color: var(--background);
    scroll-behavior: smooth;
}

button,
a,
textarea {
    font-family: soleil, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--foreground);
    background-color: var(--background);
}

::selection {
    background-color: var(--foreground);
    color: var(--background);
}