// General
$Svg-Size: 32px;

// Sites
$Sites-PaddingBlock: 4rem;
$Sites-PaddingInline: 6rem;
$Sites-PaddingBlock-Mobile: 40px;
$Sites-PaddingInline-Mobile: 40px;

$MainElement-marginTop: 5vh;
$MainElement-marginLeft: 10vw;
$MainElemet-maxWidth: 1200px;