.contact--form {
    margin-left: 10vw;
    margin-top: 5vw;

    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: max-content 1fr;
    row-gap: .5rem;
    column-gap: 4em;

    >label {
        font-size: $Fs-h3;
    }

    >input,
    >textarea {
        padding: 1rem;
        border: 2px solid var(--foreground);
        background-color: transparent;
        font-size: $Fs-p;
        font-family: soleil, sans-serif;
    }

    >textarea {
        height: 40vh;
        resize: none;
    }

    >input:focus,
    >textarea:focus {
        outline: none;
        border-style: dotted;
        border-color: var(--clr-action);
        caret-color: var(--foreground);
    }
}

.contact--form--submitContainer {
    grid-column: 2 / 3;
    @include flexIt($justCont: space-between, $alignIt: flex-start);
    
    &--text {
        width: 60%;
        font-size: $Fs-p-small;
    }
    
    &--submitBtn {
        font-size: $Fs-h3;
        border: none;
        cursor: pointer;
    }
}