.anfahrt--adressContainer {
    &--heading {
        margin-top: 2rem;
        margin-bottom: .5rem;
        text-decoration: underline;
        font-weight: 500;
    }

    &--container {
        width: 100%;
    }
}

.anfahrt--adressContainer--container {
    >* {
        font-weight: 400;
    }
}